<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>For any questions or suggestions:</p>
        <p><a href="mailto:hernandez.aimee@outlook.com">Send me an e-mail </a></p>
        <p>
            <a href="https://twitter.com/messages/compose?recipient_id=293137910&ref_src=twsrc%5Etfw" 
            class="twitter-dm-button" data-screen-name="aimeechg" data-show-count="false">Message @aimeechg</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </p>
        </div>
        {{>footer}}
    </body>
</html>